@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(199, 216, 194);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main a {
  color: blue;
}

h1 {
  font-size: large;
}
