@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: rgb(199, 216, 194);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

main a {
  color: #14532d;
  text-decoration: underline;
}

h1 {
  font-size: large;
}
